<% content_for :head do %>
  About Us - UC Berkeley Senior Map
<% end %>

<div class='center jumbotron'>
	<div class = 'content'>
		<div id='infoheader'>
			About Us
		</div>
		<div id = info>
			This is a project by the Berkeley Senior Class Council
		</div>
	</div>
</div>