<% content_for :head do %>
  About Us - UC Berkeley Senior Map
<% end %>

<div class='center jumbotron'>
	<div class = 'content'>
		<div id='infoheader'>
			About Us
		</div>
		<div id = info>
      Staying in the Bay Area and want to share housing? Moving to another country and want to hang out with fellow Bears? Wonder where that cutie from your floor freshman year is heading? Connect with classmates after graduation and sign up for ClassMap so the UC Berkeley Class of 2016can connect with each other as we settle after graduation! Just drop your pin on the ClassMap wherever you'll be for this summer and update it upon your move.

      ClassMap is an app for UC Berkeley alumni to connect and find others in their new cities. ClassMap provides you with an opportunity to meet with other alumni in similar industries or who live close by. ClassMap shows a map of where all of us are going after graduation, so that we can see where our fellow Golden Bears end up.

      ClassMap is created by CS 169 team: Toby Zhou, Danny Hsu, Joseph Li, Kevin Baum in collaboration with the Senior Class Council of The Californians at UC Berkeley.
		</div>
	</div>
</div>
