<% content_for :head do %>
  Help - UC Berkeley Senior Map
<% end %>

<div class='center jumbotron'>
	<div class = 'content'>
		<div id='infoheader'>
			FAQ
		</div>
		<div id='info'>
			You can email us at berkeleyscc@gmail.com
		</div>
	</div>
</div>
