<% content_for :head do %>
  UC Berkeley Senior Map
<% end %>

<div class='center jumbotron'>
  <h1 style='text-align: center'>UCB Senior Map currently under construction</h1>

  <%= link_to 'Register as a Berkeley Student', new_user_path, id: 'register' %>
  <%= link_to 'About Us', about_path %>
  <%= link_to 'Help', help_path %>
  <%= link_to 'Contact', contact_path %>

</div>
