@import "bootstrap";

html {
  body{
    background:transparent asset-url("background.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }
}

header {
  background: rgba(100, 100, 100, 0.5);
  
  a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
  }
}
