@import "bootstrap";

html {
  body{
    background:transparent asset-url("background.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    padding-top: 70px
  }
}

.navbar-custom {
	background-color: rgba(32, 32, 32, .8);
  color:#ffffff;
  border-radius:0;
  min-height:auto;

}
  
.navbar-custom .navbar-nav > li > a {
	color:#fff;
	padding-left:25px;
	padding-right:25px;
  padding-top:20px;
  padding-bottom:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #192f42;
	background-color: rgba(26, 29, 45, .8);
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: rgba(26, 29, 45, .8);
}

.navbar-custom .navbar-toggle,
.navbar-custom .nav .open>a, .navbar-custom .nav .open>a:hover, .navbar-custom .nav .open>a:focus {
 background-color: rgba(26, 29, 45, .8);
}

.navbar-custom .icon-bar {
 border: 1px solid #fff;                
}

/*-- change navbar dropdown color --*/
.navbar-custom .navbar-nav .open .dropdown-menu>li>a,.navbar-custom .navbar-nav .open .dropdown-menu {
  color:#ffffff;
  background-color: rgba(26, 29, 45, .8);
}

#footer {
  margin-bottom: -10px;
  padding: 0px;
  font-size: 15px;
}
 
.navbar-fixed-top .nav {
    padding: 9px 0;
}

.navbar-fixed-top { position: absolute!important; }

.navbar-fixed-top .navbar-logo {
    padding: 5px 5px;
}

.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Tahoma, Geneva, sans-serif;
}


.center.jumbotron {
  background: rgba(255, 255, 255, 0.75);
}

footer {
  background: rgba(255, 255, 255, 0.75);
  color:#000000;
  
  a {
    color:#000000;
  }
}
