@import "bootstrap";

html {
  body{
    background:transparent asset-url("background.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }
}

header {
  background: rgba(0, 0, 0, 0.5);
  font-size : 16px;

  a:link, a:visited {
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
  }
}

.center.jumbotron {
  background: rgba(255, 255, 255, 0.75);
}

footer {
  background: rgba(255, 255, 255, 0.75);
}
.button{
 display : inline;
}

.btn {
  font-size : 16px;
  text-decoration: underline;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus {
  background-image : none;
  background-color : white;
}

.btn-group {
  a:link, a:visited {
   color: black;
   font-size : 16px;
   background-color : white;
 }
 color: black;
 font-size : 16px;
}
