<footer id='footer'>

  <nav>
    <ul id='pages'>

      <%= link_to "About us", about_path %>
      |
		  <%= link_to "Help", help_path %>
		  |
      <%= link_to 'Contact', contact_path %>
    </ul>
  </nav>
</footer>
